<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course List</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body>

<div class="container">
    <h2>Add Course</h2>
    <form method="POST" th:action="@{/createCourse}" th:object="${Course}">
        <label th:for="courseId">Course ID</label>
        <input type="text"  th:field="*{courseId}" placeholder="Enter Course ID" required>

        <label th:for="courseName">Course Name</label>
        <input type="text" th:field="*{courseName}" placeholder="Enter Course Name" required>

        <button type="submit">Submit</button>
    </form>
</div>

</body>
</html>
