<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Form</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body>

<div class="container">
    <h2>Update Course</h2>
    <form method="post" th:action="@{/updateCourse}" th:object="${Course}">
<!--        <input type="hidden" name="_method" value="PUT"> I need to add @Bean
public HiddenHttpMethodFilter hiddenHttpMethodFilter() {
    return new HiddenHttpMethodFilter();
}-->
        <input type="hidden" th:field="*{seq}"/>

        <label th:for="courseId">Course ID</label>
        <input type="text"  th:field="*{courseId}" value="${courses.courseId}" placeholder="Enter Course ID" required>

        <label th:for="courseName">Course Name</label>
        <input type="text" th:field="*{courseName}" value="${courses.courseName}"  placeholder="Enter Course Name" required>

        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>
